<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.draglayout">

    <application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true">
        <activity android:name="com.example.draglayout.activity.BrowseActivity"
                  android:theme="@style/translucent"/>
    </application>

</manifest>
